<div class="subtask-info">
    <input type="hidden" id="id"/>
    <h4 class="subtask-title"></h4>
    <p class="subtask-status">

    </p>
    <p class="subtask-createdAt">
        <span class="label">Выставлено: </span>
        <span class="value"></span>
    </p>
    <p class="subtask-deadline">
        <span class="label">Срок: </span>
        <span class="value"></span>
    </p>
</div>
<div class="subtask-buttons">
    <div class="subtask-button check"><span class="fa fa-check"></span></div>
    <div class="subtask-button uncheck"><span class="fa fa-times"></span></div>
</div>