 <div class="task-body">
    <div class="task-info">
        <div class="task-info-top">
            <input type="hidden" id="id"/>
            <h4 class="task-title"></h4>
            <p class="task-status">
            </p>
        </div>
        <div class="task-info-middle">
            <div class="button-flat add-subtask-button">Добавить подзадачу</div>
            <div class="button-flat delete-task-button">Удалить задание</div>
        </div>
       <div class="task-info-bottom">
           <p class="task-createdAt">
               <span class="label">Выставлено: </span>
               <span class="value"></span>
           </p>
           <p class="task-deadline">
               <span class="label">Срок: </span>
               <span class="value"></span>
           </p>
       </div>
    </div>
    <div class="subtask-list-button">
        <span class="fa fa-chevron-right"></span>
    </div>
</div>
<div class="subtask-list">

    <div class="overflow-fix"></div>
</div>
